{% extends 'layout.html' %}



{% block body %}
    <div class="row">
        <div class="col">
            <h1>Todo List</h1>
            <a href="{% url 'todo:new'%}" class='btn btn-primary btn-sm float-right'>New Item</a>
            <br>
            <hr>
            <div class="list-group">
                {% for todo in todos %}
                    <a href="{% url 'todo:show' todo.id %}" class="list-group-item list-group-item-action">{{ todo.title }}</a>

                {% empty %}
                    <a href="#" class="list-group-item list-group-item-action disabled">No Todo!!!</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}