{% extends 'layout.html' %} {% load bootstrap4 %} {% block body%}
<div class="row">
    <div class="col">
        <br>
        <br> {{todo.tags.all | join:", "}}
        <br> {{todo.title}}
        <br> {{todo.content}}
        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'todo:index' %}">Back</a>
        <a class="btn btn-success" href="{% url 'todo:edit' todo.id%}">Edit</a>
        <a class="btn btn-danger" href="{% url 'todo:delete' todo.id%}">Delete</a>


    </div>
</div>
{% endblock %}