{% extends 'layout.html' %}

{% load bootstrap4 %}

{% block body%}
    <div class="row">
        <div class="col">
            <h1>Register</h1>
            <hr>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}